
version: "3.8"
services:
  web:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on: [db, redis]
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/homtydb
      - REDIS_URL=redis://redis:6379/0
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=homtydb
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
volumes:
  pgdata:
